{% extends '@base/admin/base.html.twig' %}
{% block title %}Admin - matriels{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
           Matriels list
        </div>
        <div class="card-body">
            <div class="table-responsive table-hover">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    {{ form_start(form) }}
                    <tr>
                        <td>nom : </td>
                        <td>{{ form_widget(form.nom) }}</td>
                    </tr>
                    <tr>
                        <td>prix : </td>
                        <td>{{ form_widget(form.prix) }}</td>
                    </tr>
                    <tr>
                        <td>qte : </td>
                        <td>{{ form_widget(form.qte) }}</td>
                    </tr>

                    <tr>
                        <td>image : </td>
                        <td>{{ form_widget(form.file) }}</td>
                    </tr>

                    <tr>
                        <td>statut : </td>
                         {{ form_label(form.statut) }}
                        {{ form_errors(form.statut) }}
                        <td>{{ form_widget(form.statut) }}</td>


                    </tr>

                </table>
                <br>

                {{ form_end(form) }}
            </div>

        </div>
        <center><button class="btn btn-primary" type="submit">update</button></center>
    </div>
{% endblock %}