{% extends '@base/default/base.html.twig' %}
{% block backgroundimg %}
<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{ asset('img/core-img/ii.jpg') }});">

    {% endblock %}
{% block tt %} <h2>About Us</h2>{% endblock %}
{% block aa %}About{% endblock %}
{% block body %}
<!-- ##### About Area Start ##### -->
<section class="about-us-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>ABOUT US</h2>
                    <p>We are leading in the plants service fields.</p>
                </div>
            </div>

            <div class="col-12 col-lg-12">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-3">
                            <div class="single-benefits-area">
                                <img src="{{ asset('img/core-img/b1.png') }}" alt="">
                                <h5>Quality Products</h5>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-3">
                            <div class="single-benefits-area">
                                <img src="{{ asset('img/core-img/b2.png') }}" alt="">
                                <h5>Perfect Service</h5>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-3">
                            <div class="single-benefits-area">
                                <img src="{{ asset('img/core-img/b3.png') }}" alt="">
                                <h5>100% Natural</h5>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-3">
                            <div class="single-benefits-area">
                                <img src="{{ asset('img/core-img/b4.png') }}" alt="">
                                <h5>Environmentally friendly</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->

<!-- ##### Service Area Start ##### -->
<section class="cool-facts-area bg-img section-padding-100-0")>;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>OUR SERVICES</h2>
                    <p>We provide the perfect service for you.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="alazea-service-area mb-100">

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="{{ asset('img/core-img/s3.png') }}" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Product Shopping</h5>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="{{ asset('img/core-img/s3.png') }}" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Equipment Shopping</h5>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="{{ asset('img/core-img/s3.png') }}" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Event Participation</h5>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="{{ asset('img/core-img/s3.png') }}" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Forming Sessions</h5>
                        </div>
                    </div>

                    <!-- Single Service Area -->
                    <div class="single-service-area d-flex align-items-center">
                        <!-- Icon -->
                        <div class="service-icon mr-30">
                            <img src="{{ asset('img/core-img/s3.png') }}" alt="">
                        </div>
                        <!-- Content -->
                        <div class="service-content">
                            <h5>Delivery Service</h5>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-7">
                <div class="alazea-video-area bg-overlay mb-100">
                    <img src="{{ asset('img/bg-img/23.jpg') }}" alt="">
                    <a href="https://www.youtube.com/watch?v=hn3wJ1_1Zsg" class="video-icon">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Side Image -->
    <div class="side-img wow fadeInUp" data-wow-delay="500ms">
        <img src="{{ asset('img/core-img/pot.png') }}" alt="">
    </div>
</section>
<!-- ##### Service Area End ##### -->

<!-- ##### Team Area Start ##### -->
<section class="team-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>OUR TEAM</h2>
                    <p>A team of dedicated experienced professionals.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="{{ asset('img/bg-img/team1.png') }}" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>BEN NJIMA Hajer</h5>
                        <p>Equipment Management</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="{{ asset('img/bg-img/team2.png') }}" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>MILADI Firas</h5>
                        <p>Event Management</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="{{ asset('img/bg-img/team3.png') }}" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>MISSAOUI Yassine</h5>
                        <p>Delivery Management</p>
                    </div>
                </div>
            </div>
            </div>
        <div class="row">
            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="{{ asset('img/bg-img/team4.png') }}" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>SAAD Amira</h5>
                        <p>Client Management</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="{{ asset('img/bg-img/team4.png') }}" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>TBINI Imene</h5>
                        <p>Forming Management</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="{{ asset('img/bg-img/team4.png') }}" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>WESLETI Ghassen</h5>
                        <p>Product Management</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Team Area End ##### -->
{% endblock %}