{% extends '@base/default/base.html.twig' %}
{% block backgroundimg %}
<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{ asset('img/core-img/tutu.jpg') }});">

    {% endblock %}
    {% block tt %} <h2>blog</h2>{% endblock %}
    {% block aa %}Blog{% endblock %}
    {% block body %}
    <!-- ##### Shop Area Start ##### -->
    <section class="shop-page section-padding-0-100">
        <div class="container">

            <div class="col-1-4">
                <div class="row">
                    <input id="txtSearch" class="form-control" type="text" placeholder="Recherche article">
                    <button id="btnSearch" class="btn btn-success">Recherche</button>
                </div>
                <div class="row">
                    <!-- Sidebar Area -->
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="shop-sidebar-area">


                            <!-- Shop Widget -->
                            <div class="shop-widget catagory mb-50">
                                <h4 class="widget-title">types</h4>
                                <div class="widget-desc">
                                    <!-- Single Checkbox -->

                                    <div class="shop-widget catagory mb-50">
                                        <h6 class="widget-title" for="customCheck1"></h6>
                                        <div class="widget-desc">
                                            <!-- Single Checkbox -->
                                            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                                <input type="checkbox" checked class="custom-control-input" id="customCheck1">
                                                <div> <label class="custom-control-label" for="customCheck1">jardinage</label></div>

                                            </div>
                                            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                                <input type="checkbox" checked class="custom-control-input" id="customCheck1">
                                                <div> <label class="custom-control-label" for="customCheck1">decoration</label></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <meta name="description" content="Les dernières nouveautés pratiques et utiles Jardin" ></div></div></div>
                    <!-- All Products Area -->
                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="shop-products-area">
                            <div class="row">


                                {% for a in Annonce %}
                                    <!-- Single Product Area -->
                                    <div class="col-12 col-sm-6 col-lg-4">
                                        <div class="single-product-area mb-50">
                                            <!-- Product Image -->
                                            <div class="product-img">
                                                <a href="{{ path('base_blog_details', {'id':a.idAnnonce}) }}">
                                                    <img  style="width:210px;height: 250px"
                                                          src="{{ asset('images/'~ a.nomImage) }}" alt=""></a>
                                                <div class="product-meta d-flex justify-content-center">
                                                    <a href="{{ path('base_blog_details', {'id':a.idAnnonce}) }}"
                                                       class="add-to-cart-btn">read me</a>
                                                </div>
                                            </div>
                                            <!-- Product Info -->
                                            <div class="product-info mt-15 text-center">
                                                <a href="base_blog_details.html.twig">
                                                    <p>{{ a.nom }}</p>
                                                    <p>{{ a.titre }}</p>

                                                    <p>{{ a.description }}</p>
                                                </a>

                                                <h6>{{ a.date|date("m/d/Y") }} </h6>



                                                <a id="btnLike" href="{{ path('base_blogLike',{'id':a.IdAnnonce}) }}" class="like"><span class="fa fa-thumbs-up"></span> <span class="menulabel">Like</span></a>



                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Pagination -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- ##### Shop Area End ##### -->

    <script src="{{ asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap/popper.min.js')}}"></script>
    <!-- Bootstrap js -->
    <script src="{{ asset('js/bootstrap/bootstrap.min.js')}}"></script
{% endblock %}