{% extends '@base/default/base.html.twig' %}
{% block backgroundimg %}
<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{ asset('img/core-img/ii.jpg') }});">

    {% endblock %}
{% block tt %} <h2>Event</h2>{% endblock %}
{% block aa %}Events{% endblock %}
{% block body %}

    <!-- Events -->
    <div class="events">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- Event -->
                        {%  for e in aa %}
                            <form method="post" name="f" id="f" action="{{ path('rent_stand',{'idEvent':e.IdEvenement}) }}">

                            <div class="event">
                                <div class="row row-lg-eq-height">
                                    <div class="col-lg-6 single_portfolio_item design home-design">
                                        <!-- Portfolio Thumbnail -->
                                        <div class="portfolio-thumbnail bg-img" style="background-image: url('{{asset(e.img) }}');"></div>
                                        <!-- Portfolio Hover Text -->
                                        <div class="portfolio-hover-overlay">
                                            <a href="{{ asset(e.img) }}" class="portfolio-img d-flex align-items-center justify-content-center" title="{{ e.nom }}">
                                                <div class="port-hover-text">
                                                    <h3>{{ e.nom }}</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 event_col">
                                        <div class="event_content">
                                            <div><br><h3>{{ e.nom }}</h3></div>
                                            <div class="event_location"><h5>@ {{ e.addresse }}</h5></div>
                                            <div class="event_text">
                                                <p>{{ e.description }}</p>
                                            </div>
                                            <div class="event_speakers">
                                                <!-- Event time -->
                                                <div class="event_speaker d-flex flex-row align-items-center justify-content-start">
                                                    <div><div class="event_speaker_image"><img src="{{ asset('img/core-img/tt.png') }}" alt=""></div></div>
                                                    <div class="event_speaker_content">
                                                        <div class="event_speaker_name">  Start Date : {{ e.dateDeb|date('Y-m-d') }}</div>
                                                        <div class="event_speaker_title">  End Date : {{ e.dateFin|date('Y-m-d') }}</div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="event_buttons">
                                                {%  if e.nbStand == '0' %}
                                                    <span ><a class="btn alazea-btn mt-50" data-toggle="modal" data-target="#nost">Rent a Stand</a></span>
                                                <div class="modal fade" id="nost">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <center><h4 class="modal-title">Sorry! <br> No more Stands for renting in this Event.</h4></center>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                                <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                {%  else %}
                                                    <button type="submit" class="btn alazea-btn mt-50" >Rent a Stand</button>
                                                {%  endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div><br></div>
                            </form>
                        {% endfor %}
                </div>
            </div>
            <div><br></div>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}