{% extends '@base/default/base.html.twig' %}
{% block backgroundimg %}
<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{ asset('img/bg-img/forming.jpg') }});">

    {% endblock %}
{% block tt %} <h2>Forming</h2>{% endblock %}
{% block aa %}Forming sessions{% endblock %}
{% block body %}

    <!-- Events -->

               <div class="events">
                   {%  for formations in f %}

                   <div class="container">
            <div class="row">
                <div class="col">
             <!-- Forming session -->
                     <form method="post" name="f" id="f" action="{{ path('login_formation',{'idFormation':formations.IdFormation}) }}">
                        <div class="event">
                            <div class="row row-lg-eq-height">
                                <div class="col-lg-6 single_portfolio_item design home-design">
                                    <!-- Portfolio Thumbnail -->
                                    <div class="portfolio-thumbnail bg-img" style="background-image: url('{{asset(formations.img) }}');"></div>
                                    <!-- Portfolio Hover Text -->
                                    <div class="portfolio-hover-overlay">
                                        <a href="{{ asset(formations.img) }}" class="portfolio-img d-flex align-items-center justify-content-center" title="{{ formations.nom }}">
                                            <div class="port-hover-text">
                                                <h3>{{ formations.nom }}  </h3>

                                                <h5>{{ formations.datedeb|date('Y-m-d') }}</h5>
                                           </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 event_col">
                                    <div class="event_content">
                                        <div><br><h5>{{ formations.nom }} </h5></div>
                                        <div class="event_location"> </div>
                                        <div class="event_text">
                                            <p>{{ formations.description }}</p>
                                             <h5> Hosted by: {{ formations.formateur.nom }} @ {{ formations.addresse }} </h5>
                                        </div>


                                        <div class="event_speakers">
                                            <!-- Event Speaker -->
                                            <div class="event_speaker d-flex flex-row align-items-center justify-content-start">
                                                <div><div class="event_speaker_image"><img src="{{ asset('img/core-img/time.png') }}" alt=""> </div></div> </div>
                                                <div class="event_speaker_content">
                                                    <div class="event_speaker_name">Start Date : {{ formations.dateDeb|date('Y-m-d') }}</div>
                                                    <div class="event_speaker_name">End Date : {{ formations.dateFin|date('Y-m-d') }}</div>
                                                </div>
                                            </div>
                                        </div>

                                    {%  if formations.nbmax == '0' %}
                                        <div class="event_buttons">
                                            <a class="btn btn-danger" >Sold out</a>
                                            {%  else %}
                                             <button type="submit" class="btn alazea-btn mt-30" >Subscribe</button>
                                            {%  endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div><br></div>
                </form>
            </div>
                   </div>
                   {% endfor %}
            <div><br></div>
            <div class="row">
                <div class="col-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}