{% extends '@base/default/base.html.twig' %}
{% block backgroundimg %}
<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{ asset('img/core-img/tutu.jpg') }});">

    {% endblock %}
    {% block tt %} <h2>shop</h2>{% endblock %}
    {% block aa %}Matriels{% endblock %}
    {% block body %}
    <!-- ##### Shop Area Start ##### -->
    <section class="shop-page section-padding-0-100">
        <div class="container">

            <div class="row">
                <!-- Sidebar Area -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop-sidebar-area">


                        <!-- Shop Widget -->
                        <div class="shop-widget catagory mb-50">
                            <h4 class="widget-title">Categories</h4>
                            <div class="widget-desc">
                                <!-- Single Checkbox -->
                                <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                    <input type="checkbox" checked class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">All Categories</label>
                                </div>
                                {% for categorie in categories %}
                                    <!-- Single Checkbox -->
                                    <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">{{ categorie.nom }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- All Products Area -->
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop-products-area">
                        <div class="row">

                            {% for matriel in matriels %}
                                <!-- Single Product Area -->
                                <div class="col-12 col-sm-6 col-lg-4">
                                    <div class="single-product-area mb-50">
                                        <!-- Product Image -->
                                        <div class="product-img">
                                            <a href="{{ path('base_shop_details', {'id':matriel.idMatriel}) }}">
                                                <img  style="width:210px;height: 250px"
                                                      src="{{ asset('images/'~ matriel.nomImage) }}" alt=""></a>
                                            <div class="product-meta d-flex justify-content-center">
                                                <a href="{{ path('base_shop_details', {'id':matriel.idMatriel}) }}"
                                                   class="add-to-cart-btn">Add  to cart</a>
                                            </div>
                                        </div>
                                        <!-- Product Info -->
                                        <div class="product-info mt-15 text-center">
                                            <a href="shop-details.html">
                                                <p>{{ matriel.nom }}</p>
                                            </a>

                                            <h6>{{ matriel.prix }} dt</h6>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Shop Area End ##### -->
{% endblock %}