{% extends '@base/default/base.html.twig' %}
{% block backgroundimg %}
<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{ asset('img/core-img/tutu.jpg') }});">

    {% endblock %}
    {% block tt %} <h2>shop</h2>{% endblock %}
    {% block aa %}Matriels{% endblock %}
    {% block body %}

    <!-- ##### Shop Area Start ##### -->
    <section class="shop-page section-padding-0-100">
        <div class="container">

            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div>     <a href="{{ path("base_shop_details", {'id':matriels.idMatriel}) }}">
                                    <center><  <img  style="width:400px;height: 500px" src="{{ asset('images/'~ matriels.nomImage) }}" alt=""></center>
                                </a><</div>
                        </div> <!-- slider-product.// -->

                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <p class="price-detail-wrap"     >
                            <a href="shop-details.html">

                            </a>

                        <div>	<span class="price h3 text-warning">


                      <dt>   <span class="currency"> {{ matriels.nom }}</span></span></div></dt>

                        <span class="price h3 text-warning">
        	<span class="currency">  {{ matriels.prix }}</span>

	<span class="currency">dt</span>
	</span>


                        </p> <!-- price-detail-wrap .// -->


                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="param param-inline">
                                    <dt>Quantity: </dt>




                                    <dd>
                                        <select class="form-control form-control-sm" style="width:70px;">
                                            <option> 1 </option>
                                            <option> 2 </option>
                                            <option> 3 </option>
                                        </select>
                                    </dd>
                                </dl>  <!-- item-property .// -->
                            </div> <!-- col.// -->
                            <div class="col-sm-7">

                            </div> <!-- col.// -->
                        </div> <!-- row.// -->



                        <hr>
                        <a href="{{ path("base_shop", {'id':matriels.idMatriel}) }}"  class="btn btn-lg btn-primary text-uppercase"> rtourne  a page </a>
                        <a href="base_shop_details" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
                    </article> <!-- card-body.// -->

                </aside> <!-- col.// -->
            </div>
        </div>
    </section>
    <!-- ##### Shop Area End ##### -->
{% endblock %}