<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('livreur/MDB-notifications/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ asset('livreur/MDB-notifications/css/mdb.min.css') }}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ asset('livreur/MDB-notifications/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('livreur/MDB-notifications/css/toastr.min.css') }}" rel="stylesheet">
</head>

<style>
        body{
            width: 100%;
            height: 100%;
            background: #141E30;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, black, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, black, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    </style>
<body>
{# Call NotificationsBundles's assets #}
{{ notifications_assets() }}

<!-- Start your project here-->
<iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:256px;height:174px;"src="https://www.clocklink.com/html5embed.php?clock=046&timezone=Tunisia_Tunis&color=red&size=256&Title=&Message=&Target=&From=2019,1,1,0,0,0&Color=red"></iframe>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Your deliveries
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Livraison</th>
                    <th>Commande</th>
                    <th>Reservation</th>
                    <th>Detail commande</th>
                    <th>Price</th>
                    <th>State</th>
                </tr>
                </thead>
                <tbody>
                {% for v in livraisons %}
                    {% if v.IdLivreur.IdLivreur==idLivreur %}
                        <tr>
                            <td>{{ v.IdLivraison }}</td>
                            <td>
                                <ul>
                                    {% if not v.IdCommande is null  %}
                                        <li>{{ v.IdCommande.IdClient.Username }}</li>
                                        <li>{{ v.IdCommande.DateCmd|date('Y-m-d') }}</li>
                                        <li>{{ v.IdCommande.Prix }}</li>
                                    {% endif %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% if not v.IdReservation is null  %}

                                        <li>{{ v.IdReservation.IdClient.Username }}</li>
                                        <li>{{ v.IdReservation.DateDebut|date('Y-m-d') }}</li>
                                        <li>{{ v.IdReservation.DateFin|date('Y-m-d')  }}</li>
                                        <li>{{ v.IdReservation.Prix }}</li>
                                    {% endif %}
                                </ul>
                            </td>

                            <td>
                                {% for dc in detailCmd %}

                                    {% set dcId=dc.IdDc|number_format %}
                                    {% set cIDc=v.IdCommande.IdDc.IdDc|number_format %}

                                    {% if dcId ==cIDc %}

                                        {% if not dc.IdP is null  %}
                                            <ul>
                                                <li>{{ dc.IdP.Nom}}</li>
                                                <li>{{ dc.IdP.Prix}}</li>
                                            </ul>

                                        {% endif %}
                                        {% if not dc.IdM is null  %}

                                            <ul>
                                                <li>{{ dc.IdM.Nom }}</li>
                                                <li>{{ dc.IdM.Prix }}</li>
                                            </ul>

                                        {% endif %}

                                    {% endif %}

                                {% endfor %}
                            </td>
                            <td>{{ v.Prix }}</td>
                            <td>{{ v.Prix }}</td>

                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- /Start your project here-->


<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{{ asset('livreur/MDB-notifications/js/jquery-3.3.1.min.js') }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ asset('livreur/MDB-notifications/js/popper.min.js') }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ asset('livreur/MDB-notifications/js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ asset('livreur/MDB-notifications/js/mdb.js') }}"></script>
<script type="text/javascript" src="{{ asset('livreur/MDB-notifications/js/toastr.js') }}"></script>

<script>
    $(document).ready(function()
    {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        /**
         * After calling notifications_assets() "pusher" is now available
         * and you can use it this way
         */

            // select the channel you want to listen to
        var channel = pusher.subscribe("notifications");// notifications channel
        channel.bind("my-event", function(data) {


            toastr["info"](data['livreur'],data['message']);


            
            /*
            var channel = pusher.subscribe("messages");// messages channel
            channel.bind("my-event", function(data) {
                console.log('from messages channel', data);
            });
            */
        });
    });

</script>
</body>


</html>
