{% extends '@base/admin/base.html.twig' %}
{% block title %}Admin - Event{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container-fluid">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Events List
        </div>
        <div class="card-body">
            <div class="table-responsive table-hover">
                <table class="table table-borderless" id="dataTable" width="100%" cellspacing="0">
                    {{ form_start(form) }}
                    <tr>
                        <td>Name : </td>
                        <td>{{ form_widget(form.nom) }}</td>
                    </tr>
                    <tr>
                        <td>Start Date : </td>
                        <td>{{ form_widget(form.dateDeb) }}</td>
                    </tr>
                    <tr>
                        <td>End Date : </td>
                        <td>{{ form_widget(form.dateFin) }}</td>
                    </tr>
                    <tr>
                        <td>Address : </td>
                        <td>{{ form_widget(form.addresse) }}</td>
                    </tr>
                    <tr>
                        <td>Description : </td>
                        <td>{{ form_widget(form.description) }}</td>
                    </tr>
                    <tr>
                        <td>Event Image : </td>
                        <td>{{ form_widget(form.img) }}</td>
                    </tr>
                </table>
                <br>
                <center><button class="btn btn-primary" type="submit">Change Event</button></center>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}