{% extends '@base/default/base.html.twig' %}
{% block backgroundimg %}
<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{ asset('img/core-img/ii.jpg') }});">
{% endblock %}
{% block tt %} <h2>Event</h2>{% endblock %}
{% block aa %}Events{% endblock %}
{% block body %}
    <!-- Page Content -->
    <div class="container">
        <div class="card-header">
            <i class="fas fa-table"></i>
            My Rented Stands
        </div>
        <div>
        <center><h4>Put Your Cin : </h4><input style="width:200px; height:45px" type="text" id="get"/> <button class="btn btn-primary" id="ok">GO</button></center>
        </div>
        <div class="card-body">
            <div class="table-responsive table-hover">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th> Stand Id </th>
                        <th> Event Id </th>
                        <th> CIN </th>
                        <th> Name </th>
                        <th> Last Name </th>
                        <th> Phone Number </th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for e in aa %}
                        <tr class="stands" id="{{ e.cinParticipant }}">
                            <td> {{ e.IdStand }} </td>
                            <td> {{ e.idEvenement }} </td>
                            <td> {{ e.cinParticipant }} </td>
                            <td> {{ e.nom }} </td>
                            <td> {{ e.prenom }} </td>
                            <td> {{ e.tel }} </td>
                            <td> <a href="{{ path('cancel',{'id':e.idStand}) }}" class="btn btn-danger"/> Cancel </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
    <script>
    $(document).ready(function(){
        $('.stands').hide();
            $('#ok').click(function() {
                $(".stands").each(function(){
                   if($(this).attr('id')==$("#get").val())
                       {
                           $(this).show();
                       }
                       else {
                            $(this).hide();
                       }
                });
            });
        });
    </script>
{% endblock %}