{% extends '@base/default/base.html.twig' %}
{% block backgroundimg %}
<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({{ asset('img/core-img/ii.jpg') }});">

    {% endblock %}
{% block tt %} <h2>Event</h2>{% endblock %}
{% block aa %}Events{% endblock %}
{% block body %}
    <section class="about-us-area">
    <div class="container">
    <div class="row justify-content-between">
    <div class="col-12 col-lg-7">
        <div class="section-heading">
            <form method="post" name="f" id="f" action="{{ path('rent_stand',{'idEvent':idEvent}) }}">

            <table class="table table-borderedless" id="dataTable" width="100%" cellspacing="0">

                    <tr>
                        <td>CIN</td><td><input type="number" name="cin" id="cin" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>Name</td><td><input type="text" name="Nom" id="Nom" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>Last Name</td><td><input type="text" name="Prenom" id="Prenom" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>Phone Number</td><td><input type="number" name="Tel" id="Tel" class="form-control"/> </td>
                    </tr>
                <tr>
                    <td><br>Discription </td>
                    <td style="display:flex ">
                        {% for s in stands %}
                <div class="radio">
                <label><input type="radio" class="des" style="width:0px; height:0px" name="idStand" value="{{ s.IdStand }}" id="{{ s.IdStand }}"><a onclick="lon(this)" class="page-link hah">{{ s.Description }}</a></label>
                </div>
                        {% endfor %}
                    </td>
                </tr>
                </table>
        </div>
    </div>
        <div class="col-12 col-lg-5">
            <div id="zone"><img src="{{ asset('img/bg-img/rent.jpg')}}" alt=""></div>
            <div></div></div>
    </div><br><div><center><button class="btn btn-success w-25" type="submit">Confirm Renting</button></center></div><br></div>
        </form>
    </section>


    <script src="{{ asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
    <script>
        $(document).ready(function(){
            $('.des').click(function() {
                $('#a').show('img/bg-img/rent.jpg');
                $('#zone').html('<img id="a" src="{{asset('img/bg-img/stand.jpg')}}">');
            });
        });
        function lon (obj){
            $(".hah").each(function(){  $(this).css("background","");});
            $(obj).css('background','Aquamarine');
            }
    </script>
{% endblock %}