{% extends '@base/default/base.html.twig' %}
{% block tt %} <h2>EVENT</h2>{% endblock %}
{% block aa %}Rent{% endblock %}
{% block body %}
    <section class="about-us-area">
    <div class="container">
    <div class="row justify-content-between">
    <div class="col-12 col-lg-7">
        <div class="section-heading">
            <form method="post" name="f" id="f" action="{{ path('rent_stand',{'idEvent':idEvent}) }}">

            <table class="table table-borderedless" id="dataTable" width="100%" cellspacing="0">

                    <tr>
                        <td>CIN</td><td><input type="number" name="cin" id="cin" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>Name</td><td><input type="text" name="Nom" id="Nom" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>Last Name</td><td><input type="text" name="Prenom" id="Prenom" class="form-control"/> </td>
                    </tr>
                    <tr>
                        <td>Phone Number</td><td><input type="number" name="Tel" id="Tel" class="form-control"/> </td>
                    </tr>
                <tr>
                    <td>Stand Size</td>
                    <td>
                        {% for s in stands %}
                <input type="radio"  id="des" name="idStand" value="{{ s.IdStand }}"/>{{ s.Description }}<br>
                        {% endfor %}
                    </td>
                </tr>
                </table>
        </div>
    </div>
        <div class="col-12 col-lg-5">
            <div id="zone"><img src="{{ asset('img/bg-img/rent.jpg')}}" alt=""></div>
            <div></div></div>
    </div><br><div><center><button class="btn btn-success" type="submit">Confirm Renting</button></center></div><br></div>
        </form>
    </section>



    <script src="{{ asset('js/jquery/jquery-2.2.4.min.js')}}"></script>
    <script>
        $(document).ready(function(){
            $('#des').click(function() {
                $('#a').show('img/bg-img/rent.jpg');
                $('#zone').html('<img id="a" src="{{asset('img/bg-img/stand.jpg')}}">');
            });

        });
    </script>
{% endblock %}