{% extends '@base/admin/base.html.twig' %}
{% block title %}Admin - Show deliveries{% endblock %}
{% block body %}

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('base_homepage') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Show deliveries</li>
            </ol>

            <!-- Page Content -->
            <h1>Show deliveries</h1>
            <hr>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Liste des Livreurs
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Delivery</th>
                                <th>Order</th>
                                <th>Reservation</th>
                                <th>Order details</th>
                                <th>Delivery man</th>
                                <th>Price</th>
                                <th>State</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for v in livraisons %}
                                <tr>
                                    <td>{{ v.IdLivraison }}</td>
                                    <td>
                                            {% if not v.IdCommande is null  %}
                                        <table class="table table-borderless">
                                            <tr><th>Client name</th>
                                                <td>{{ v.IdCommande.IdClient.Username }}</td>
                                            </tr>
                                            <tr>
                                                <th>Date</th>
                                                <td>{{ v.IdCommande.DateCmd|date('Y-m-d') }}</td>

                                            </tr>
                                            <tr>
                                                <th>Price</th>
                                                <td>{{ v.IdCommande.Prix }}</td>

                                            </tr>
                                        </table>
                                            {% else %}
                                                <b class="text-center">No order in this delivery</b>

                                            {% endif %}
                                    </td>
                                    <td>

                                            {% if not v.IdReservation is null  %}
                                        <table class="table table-borderless">
                                            <tr>
                                                <th>Client name</th>
                                                  <td>{{ v.IdReservation.IdClient.Username }}</td>
                                            </tr>
                                            <tr>
                                                <th>Start date</th>
                                                <td>{{ v.IdReservation.DateDebut|date('Y-m-d') }}</td>
                                            </tr>
                                           <tr>
                                               <th>End date</th>
                                               <td>{{ v.IdReservation.DateFin|date('Y-m-d')  }}</td>

                                           </tr>
                                            <tr>
                                                <th>Price</th>
                                                <td>{{ v.IdReservation.Prix }}</td>

                                            </tr>
                                        </table>
                                            {% else %}
                                                <b class="text-center">No reservation in this delivery</b>
                                            {% endif %}

                                    </td>

                                    <td>
                                        {% for dc in detailCmd %}

                                            {% set dcId=dc.IdDc|number_format %}
                                            {% set cIDc=v.IdCommande.IdDc.IdDc|number_format %}

                                            {% if dcId ==cIDc %}

                                                {% if not dc.IdP is null  %}
                                                    <table class="table table-borderless">
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <td>{{ dc.IdP.Nom}}</td>
                                                    </tr>
                                                        <tr>
                                                        <th>Price</th>
                                                        <td>{{ dc.IdP.Prix}}</td>
                                                        </tr>
                                                    </table>
                                                {% endif %}
                                                {% if not dc.IdM is null  %}

                                                    <table class="table table-borderless">
                                                        <tr>
                                                            <th>Material name</th>
                                                            <td>{{ dc.IdM.Nom }}</td>

                                                        </tr>
                                                        <tr>
                                                            <th>Price</th>
                                                            <td>{{ dc.IdM.Prix }}</td>

                                                        </tr>
                                                    </table>

                                                {% endif %}

                                            {% endif %}

                                        {% endfor %}
                                    </td>
                                    <td>{{ v.IdLivreur.Nom }} {{ v.IdLivreur.Prenom }}</td>
                                    <td>{{ v.Prix }}</td>
                                    <td>{{ v.Etat }}</td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}
