{% extends '@base/admin/base.html.twig' %}
{% block title %}Admin - Disponibilité des livreurs{% endblock %}
{% block body %}
    <script src="{{ asset('admin/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('admin/customJs/suppDispo.js') }}"></script>
    <script>

        {% for v in livreurs %}
        {% for d in dispos %}
        {% if d.IdLivreur.IdLivreur==v.IdLivreur %}

            dayOfWeekName('{{ v.IdLivreur }}','{{ d.DateDispo  }}');

        {% endif %}
        {% endfor %}
        {% endfor %}

    </script>

    <style>
        .clickable{
            cursor: pointer;
        }
        body
        {
            position:relative;
            overflow: hidden;
        }


        .divTrans{
            width:30%;
            height:300px;
            display: inline-block;
            margin: 2% 0 0 100%;
            background-color: #ffffff;
            transition: transform 0.7s ease 0s, opacity 0.2s ease 0s;
            -o-transition-property : transform;
            -o-transition-duration: 2s;
            -o-transition-timing-function:ease;
            padding: 10px;
            box-shadow: 5px 10px 18px #5f27cd;
            position: absolute;
            z-index: 10;
            border-radius: 15px 50px        }
        .squareRed{
            background: #EA2027;
            height: 100px;
            }
        .squareGreen{
            background: #007BFF;
            height: 100px;

        }
        .transTable{
            font-size: 8px;
            color: white;
            word-wrap: inherit;
            table-layout: fixed;
            width: 100%;
            height: 100%;
        }
        .transTable tr th{
            text-align: center;
        }
        .addWork{
            background-color: white;
            color: black;
        }


    </style>
    <!------------------------------------------------------------------------>


    <div id="trans" class="divTrans bg-dark">
        <div class="box box-info">
            <div class="box-header with-border">
                <br/>
                <h3 style="text-align:center;color:white" class="box-title">Works Every</h3>
                <br>
            </div>

            <div class="box-body">

                <table class="table table-bordered transTable">
                    <thead>
                    <tr>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr id="transTr">

                    </tr>
                    </tbody>
                </table>
               <center>
                   <form method="post" name="delDisp" id="delDisp" action="{{ path('admin_suppDispo') }}">
                   <button type="submit" id="delTrans" class="btn btn-outline-light" disabled="disabled">Delete</button>
                    <input type="hidden" id="idLiv" name="idLiv" value=""/>
                   </form>
               </center>
            </div>
        </div>
    </div>


    <!-------------------------------------------------->

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ path('admin_index') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Supprimer Disponibilité</li>
            </ol>

            <!-- Page Content -->
            <h1>Disponibilité des livreurs</h1>
            <hr>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Liste des Livreurs
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Etat</th>
                        <th>Téléphone</th>
                        <th>Localisation</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Etat</th>
                        <th>Téléphone</th>
                        <th>Localisation</th>
                    </tr>
                    </tfoot>
                    {% for v in livreurs %}
                    <tbody>
                    <tr   data="{{ v.IdLivreur }}" class="clickable" onclick="setBg(this);fns(this)" >
                            <td>{{ v.nom }}</td>
                            <td>{{ v.prenom }}</td>
                        {% if v.etat=="disponible" %}
                            <td class="text-success"> <b>{{ v.etat }}</b></td>

                        {% else %}
                            <td class="text-danger"><b>{{ v.etat }}</b></td>

                        {% endif %}

                        <td>{{ v.tel }}</td>
                            <td>{{ v.localisation }}</td>

                        </tr>
                    </tbody>


                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
            <div class="modal fade" id="ajtDspModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Modifier Livreur</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <form method="post" name="ajtDspForm" id="ajtDspForm" action="#">

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Choisir les jours de travail : </label><br/>
                                    <input type="checkbox" id="chk1" name="chk1" value="1"/>
                                    <label>Monday </label><br/>

                                    <input type="checkbox" id="chk2" name="chk2" value="2"/>
                                    <label>Tuesday </label><br/>

                                    <input type="checkbox" id="chk3" name="chk3" value="3"/>
                                    <label>Wednesday </label><br/>
                                    <input type="checkbox" id="chk4" name="chk4" value="4"/>
                                    <label>Thursday </label><br/>
                                    <input type="checkbox" id="chk5" name="chk5" value="5"/>
                                    <label>Friday </label><br/>
                                    <input type="checkbox" id="chk6" name="chk6" value="6"/>
                                    <label>Saturday </label><br/>
                                    <input type="checkbox" id="chk0" name="chk0" value="0"/>
                                    <label>Sunday </label><br/>
                                            <input type="hidden" name="selectedDays" id="selectedDays" value="" />
                                    <input type="hidden" name="idLiv" id="idLiv" value="" />
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" id="btnSubmitModif" onclick="submitAjtDisp()" value="Submit" /> <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

<!-- /#wrapper -->
{% endblock %}