{% extends '@base/admin/base.html.twig' %}
{% block title %}Admin - Edit Trainer{% endblock %}
{% block body %}

    <!-- Page Content -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Edit trainer
        </div>

        <div class="card-body">
            <div class="table-responsive table-hover">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    {{ form_start(form) }}
                    <tr>
                        <td>First Name : </td>
                        <td>{{ form_widget(form.nom) }}</td>
                    </tr>
                    <tr>
                        <td>Last name : </td>
                        <td>{{ form_widget(form.prenom) }}</td>
                    </tr>
                    <tr>
                        <td>Phone number : </td>
                        <td>{{ form_widget(form.tel) }}</td>
                    </tr>
                    <tr>
                        <td>Speciality : </td>
                        <td>{{ form_widget(form.type) }}</td>
                    </tr>

                </table>
                <br>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}



                {{ form_end(form) }}
            </div>
        </div>
    </div>




{% endblock %}