

    {% extends '@base/admin/base.html.twig' %}
    {% block title %}Admin - Trainers{% endblock %}
    {% block body %}
        <!-- Page Content -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Events List
            </div>
            <div class="card-body">
                <div class="table-responsive table-hover">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>

                            <th> </th>
                            <th>First Name</th>
                            <th>Last name</th>
                            <th>Type</th>
                            <th>Phone</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                        </thead>



                        <tbody>

                        {%  for formateurs in f %}

                            <tr>
                                <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
                                </td>
                                <td>{{ formateurs.nom }}</td>
                                <td>{{ formateurs.prenom}}</td>
                                <td>{{ formateurs.type }}</td>
                                <td> {{ formateurs.tel }}</td>
                                <td> <a href="{{ path('modif_formateur',{'id':formateurs.idFormateur}) }}" class="btn btn-warning"/> Change </td>

                                <td> <a href="{{ path('supp_formateur',{'id':formateurs.idFormateur}) }}" class="btn btn-warning"/> Delete </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}

